@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --color-background: #161616;
  --color-background-secondary: #272727;
  /* --color-white: #d6d6d6; */
  --color-primary: #d1b3f5;
  --color-secondary: #4617b6;
  --color-secondary-blur: #250374;
  --color-accent: #3fffef;
  --color-error: #cf6679;
}

@layer components {
  .hero-container {
    @apply max-w-6xl mx-6 sm:mx-12 mb-6 px-4 sm:px-6 py-8 sm:py-14 lg:py-18 rounded-xl bg-background shadow-2xl;
  }

  .service-container {
    @apply max-w-[90rem] 2xl:max-w-fit mx-6 sm:mx-20 md:mx-36 xl:mx-8 2xl:mx-auto p-8 rounded-xl bg-background shadow-2xl;
  }
}