@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --color-background: #161616;
  --color-background-secondary: #272727;
  /* --color-white: #d6d6d6; */
  --color-primary: #d1b3f5;
  --color-secondary: #4617b6;
  --color-secondary-blur: #250374;
  --color-accent: #3fffef;
  --color-error: #cf6679;
}

@layer components {
  .section-effect {
    @apply my-4 mx-4 lg:mb-6 lg:mx-8 xl:mx-14 rounded-xl bg-background p-4 sm:p-6 md:p-8 lg:p-12 shadow-2xl;
  }
}